body {
  background-image: url("media/pexels-scott-webb-305827.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-items: 'center';
  text-align: center;
  justify-content : 'space-around';
  margin: 16px auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #e6e6e6;
  z-index:0;
}


.heading {
  padding:16px;
  display: flex;
  justify-content: center;
  margin: 16px auto;
  align-items: center;
  max-width: 600px;
}

.App-logo {
  max-width:100%;
  pointer-events: none;
}

.title {
  font-size: 4rem;
  font-weight: 400;
  color: #d1fffb;
}

.PlantForm {
  display:flex;
  justify-content: center;
  align-items: center;
}


.formWrapper {
  padding:16px;
  display: flex;
  justify-content: center;
  margin: 16px auto;
  align-items: center;
  max-width: 600px;
}

.formContent {
  display: flex;
  justify-content: center;
}

.formLabel {
  font-size: 1.3rem;
  text-align: right;
}

.mid{
  z-index:2;
}
.dropdown {
  display: flex;
  justify-content: center;
}

.error-message {
  font-size: 1rem;
  font-weight: 400;
  color: #e42b1e;
}

.displayImg {
  max-width:500px;
  margin: 8px, auto;
}
.modal {
  position: relative;
  margin: 16px auto;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.3rem;
  width:80%;
  height:80%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 10; /* Sit on top - higher than any other z-index in your site*/
}

.loading {
  width: 80%;
  position: relative;
  margin: 16px auto;
  top: 50%;
  transform: translateY(-50%);
}

.instructions {
  text-align:left;
}

.modal-close {
  display: inline-block;
  font-weight: 800;
  font-size: 1.5rem;
  color: #0948f5;
  text-align: center;
  vertical-align: middle;
}
.modal-close:hover {
  color: #09ddec;
  text-decoration: none;
  cursor: pointer;
}
.modal-close:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(245, 94, 47, 0.25);
}

.App-link {
  color: #61dafb;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #27394b;
  text-align: center;
  vertical-align: middle;
}

.btn:hover {
  color: #117ae4;
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled, .btn:disabled {
  opacity: 0.65;
}