body {
  background-image: url("media/pexels-scott-webb-305827.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-items: 'center';
  text-align: center;
  justify-content : 'space-around';
  margin: 16px auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #e6e6e6;
}


.heading {
  padding:16px;
  display: flex;
  justify-content: center;
  margin: 16px auto;
  align-items: center;
  max-width: 600px;
}

.App-logo {
  max-width:100%;
  pointer-events: none;
}

.title {
  font-size: 4rem;
  font-weight: 400;
  color: #d1fffb;
}

.PlantForm {
  display:flex;
  justify-content: center;
  align-items: center;
}


.formWrapper {
  padding:16px;
  display: flex;
  justify-content: center;
  margin: 16px auto;
  align-items: center;
  max-width: 600px;
}

.formContent {
  display: flex;
  justify-content: center;
}

.formLabel {
  text-align: right;
}

.dropdown {
  width:100%
}

.error-message {
  font-size: 1rem;
  font-weight: 400;
  color: #e42b1e;
}

.displayImg {
  max-width:500px;
  margin: 8px, auto;
}

.App-link {
  color: #61dafb;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #194979;
  text-align: center;
  vertical-align: middle;
}

.btn:hover {
  color: #117ae4;
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled, .btn:disabled {
  opacity: 0.65;
}